h3 {
    color: #557a95;
    margin-right: 40px;
}
a {
    background-color: #557a95;
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-top: 30px;
    border-width: 2px;
    border-style: solid;
}
a:hover {
    
    border-color: black;
}
