h3 {
    color: #557a95;
}
a {
    background-color: #557a95;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
}
    a:hover {
        border-color: black;
        text-decoration: none;
    }
